
th{
    border:0cqh;
    padding: 10px;
}

    body{
    margin: 0;
    padding: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: orange;
}
 img{
    width: 250PX;
 }